body{
    font-family: helvetica;
    background-color: #050511;
    color: white;
}
nav {
    display: inline-block;
    font-size: 20px;
      
}
nav a {
    text-decoration: none;
}

.picture{
    padding-right: 20px; 
}


#profilePic{
    height: 140x;
    width: 125px;
    float: right;
}